* {
  margin: 0px;
  padding: 0px;
}
#cabecalho {
  background-color: aqua;
  box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.5);
  padding: 2px;
}
#logo {
  text-align: center;
  padding: 20px;
}
#nav {
  text-align: center;
  padding: 10px;
}
#nav > a {
  padding: 10px;
  text-decoration: none;
  color: white;
  background-color: rgb(1, 142, 142);
  border-radius: 8px;
}

#nav > a:hover {
  background-color: #00c3c3;
}
main {
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  margin-top: 20px;
  margin-bottom:20px;
  padding: 20px;
  background-color: rgb(165, 223, 223);
  border-radius: 20px;
}
.artigo {
  background-color: rgb(169, 236, 236);
  margin: 20px;
  padding: 10px;
  border-radius: 15px 15px;
  box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.5);
}
.artigo h2 {
  background-color: rgb(89, 199, 162);
  margin: -10px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 15px 15px 0px 0px;
}
.artigo p {
  text-indent: 20px;
  text-align: justify;
  font-size: 1.2em;
}
.rodape {
  background-color: rgb(1, 57, 57);
  color: white;
  text-align: center;
  font-size: 0.8em;
  padding: 5px;
}
